MYSQL_DATABASE=zayra
MYSQL_USER=zayra
MYSQL_PASSWORD=zayra_password
MYSQL_ROOT_PASSWORD=root_password
MYSQL_PORT=3306

BACKEND_PORT=5117
FRONTEND_PORT=5173
VITE_API_URL=http://localhost:5117

JWT_ISSUER=Zayra.Api
JWT_AUDIENCE=Zayra.Client
JWT_SIGNING_KEY=CHANGE_ME_TO_A_64_CHARACTER_PRODUCTION_SECRET_KEY_1234567890

SEED_TENANT_NAME=Zayra HQ
SEED_TENANT_SLUG=zayra
SEED_ADMIN_EMAIL=admin@zayra.local
SEED_ADMIN_NAME=Zayra Admin
SEED_ADMIN_PASSWORD=ChangeMe123!

REDIS_PORT=6379
